body {
    font-family: 'Pacifico', cursive;
    background-color: #f9f9f9;
}

.form-container {
    width: 300px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color: green;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    display: block;        
    margin: 20px 0 0 auto; /* superior 20px, izquierdo automático → empuja a la derecha */
    width: 100px;
    padding: 5px 4px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}





 






